.gallery {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

img {
  width: 240px;
  height: 160px;
}

.state {
  display: flex;
  justify-content: space-between;
  font-style: 16px;
}

.material-icon {
  font-style: 12px;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stats-item {
  font-size: 10px;
  color: rgb(127, 127, 127);
}
